@charset "UTF-8";

body{
    margin: 100px 500px;
    background-color: rgb(0,166,161);
    color: #0b3e44;
    background-image: url("../images/texture.jpg");
    text-align: center;
}

main{
    font-size: medium;
    font-family: Imprint MT Shadow;
    background-color: rgb(188, 219, 216);   
}

header {
    color: rgb(30,152,152);
    font-size: 2em;
}

h1 {
  text-shadow: 0px 3px 6px;  
}

a:link {
    color: rgb(51, 120, 112);
    text-decoration: none;
}

a:visited {
    color: rgb(83,71,105);
    text-decoration: none;
}

a:hover {
    color: rgb(18,77,166);
}

section{
    text-align: center;
}
nav{
    font-size: small;
    font-family: Imprint MT Shadow;
    text-align: center;
}
li{
    text-align: center;
    overflow: hidden;
}
#Fall{
    width: 300px;
}